.heading{
    text-align: center;
    margin-left: 10px;
}
.fs-5{
    text-align:center;
    margin-bottom: 30px;
}
.f3{
    text-align:center;
    margin-bottom: 30px;
    margin-left: 510px;

}
.firstbox{
    color:RED ;
    border: 4px solid black;
    background-color:red ;
    height:150px;
    width: 10px;
    margin-right: 20px;
    margin-top: 30px;


}
.secondbox{
    color:red;
    border: 4px solid yellow;
    background-color:blue;
    height:150px;
    width: 1px;
    padding-left: 20;
    padding-right: 20;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
    border-style:dashed;
    margin-top: 30px;
    
}

.thirdbox{
    color:red ;
    border: 4px solid red;
    background-color:darkgreen;
    height: 150px;
    width: 1px;
    padding-left: 20;
    padding-right: 20;
    margin-left: 15px;
    margin-top: 30px;
}
.c1{
    text-align:center;
    color:blue;
    font-size:large;
    margin-left: 500px;
    margin-top: 200px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    
}
.btn-primary{
    padding: 5px;
    text-align:center;
    margin-right: 10px;
    margin-top: 30px;
}
.btn-secondary{
    padding: 5px;
    text-align:center;
    margin-right: 20px;
}
.btn-next{
    padding: 5px;
    text-align:center;
    margin-right: 20px;    
}
.c2{
    text-align:center;
    color:blue;
    text-decoration: underline;
    font-size: small;
    margin-left: 500px;
    margin-top: 200px;
    margin-bottom: 20px;
    padding-bottom: 100px;
}

.button{
    
    padding-right: 20px ;
    margin-left: 20px;
    text-align:center;
    box-sizing:500px;
    margin-bottom: 30px;
    margin-top: 20px;
    
}
.hidden{
    
    padding-right:5px ;
    margin-left: 20px;
    margin-right: 100px;
    text-align:center;
    margin-top: 20px;
}
.show{
margin-left: 400px;
text-align-last: left;
margin-top: 20px;
}
.reset{
 text-align: left;  
 margin-right: 100px;
 margin-top: 20px; 
}




    





